<!--index.ejs-->
<table class="table">
    <% persons.forEach( function(model) { %>
        <tr><td><%= model.name %></td>
            <td><%= model.age %></td>
            <td><%= model.no %></td>
        </tr>
    <% }); %>
</table>